@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up {
  animation: 0.75s both fadeInUp;
}

.fade-in {
  animation: fadeIn 5s;
}

.fade-in-fast {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}
@media only screen and (max-width: 48.25em) {
  body {
    padding: 0;
  }
}

html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at bottom, #1B2735 45%, #090A0F 100%);
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 125.5em) {
  html {
    font-size: 70%;
  }
}

p {
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
}
@media only screen and (max-width: 48.25em) {
  p {
    font-size: 1.75rem;
    line-height: 3.2rem;
  }
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

h2 {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-style: italic;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.row {
  max-width: 75%;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 48.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 48.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 48.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 48.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
  margin: 0 auto;
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.bio {
  font-size: 1.45rem;
  line-height: 3rem;
}

.chevron-container {
  display: flex;
  justify-content: center;
  margin-top: 17rem !important;
}
@media only screen and (max-width: 48.25em) {
  .chevron-container {
    display: none;
  }
}

.chevron-icon {
  scale: 3;
}

.contact-form-container {
  width: 100%;
}

.contact-section {
  margin-bottom: 2rem;
}

.form-label {
  display: block;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form-input {
  width: 95%;
  padding: 2rem 0rem 2rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.message-input {
  width: 95%;
  padding: 2rem 0rem 2rem 2rem;
  height: 25vh;
  font-family: "Montserrat", sans-serif;
}

.submit-button {
  width: 95%;
  padding: 1rem 0rem 1rem 2rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: white;
  border: white solid 0.75px;
  border-radius: 25px;
}

.submit-button:hover {
  background-color: white;
  color: black;
  transition: 0.75s;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
@media only screen and (min-width: 48.25em) {
  .mobile-nav {
    display: none;
  }
}

.menuItem {
  display: block;
  margin: 4rem 4rem;
  font-size: 1.8rem;
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 120;
  top: 3rem;
  right: 3rem;
  background: transparent;
  cursor: pointer;
  border: none;
  padding-top: 2.25rem;
  padding-right: 2rem;
}

.closeIcon {
  display: none;
  color: rgb(118, 118, 118);
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  list-style: none;
  padding-top: 17rem;
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.menuIcon {
  color: rgb(255, 255, 255);
  scale: 1.2;
}

.mobile-title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.mobile-logo {
  width: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
}
@media only screen and (max-width: 48.25em) {
  nav {
    display: none;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.icon {
  width: 50px;
}

.toolkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolkit-title {
  margin-bottom: 10rem !important;
  display: flex;
  justify-content: center;
}

.tool-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.tool-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  border: solid rgb(145, 145, 145) 1px;
  height: 60px;
  width: 175px;
}

.tool-icon {
  scale: 2;
  margin-right: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
}
@media only screen and (max-width: 48.25em) {
  .footer {
    padding: 6rem;
  }
}

.footer-name {
  display: flex;
  align-items: center;
}

.footer-title {
  margin-left: 2rem;
}
@media only screen and (max-width: 48.25em) {
  .footer-title {
    font-size: 1.5rem !important;
  }
}

.footer-logo {
  width: 35px;
}
@media only screen and (max-width: 48.25em) {
  .footer-logo {
    width: 25px;
  }
}

.header {
  margin-bottom: 6rem;
}

.logo {
  width: 45px;
}

.section-one {
  height: 100vh;
  margin: 0 auto;
  width: 80vw;
}
@media only screen and (max-width: 48.25em) {
  .section-one {
    width: 90vw;
    height: 120vh;
  }
}

.title-container {
  justify-content: flex-start !important;
  align-items: center;
}
@media only screen and (max-width: 48.25em) {
  .title-container {
    margin-bottom: 4rem !important;
  }
}

.learn-more {
  display: flex;
  align-items: center;
  float: left;
}

.learn-more-icon {
  margin-left: 2rem;
}

.social {
  display: flex;
  align-items: center;
  float: right;
  padding-top: 0.75rem;
}

.social-icon {
  scale: 1.5;
  margin-left: 3rem;
}

.section-two {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding-top: 15rem;
}
@media only screen and (max-width: 48.25em) {
  .section-two {
    width: 60vw;
    height: 70vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-two {
    width: 95vw;
  }
}

.section-three {
  height: 116vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 10rem;
}
@media only screen and (max-width: 48.25em) {
  .section-three {
    width: 90vw;
    height: 140vh;
  }
}

@media only screen and (max-width: 48.25em) {
  .project-description {
    width: 90vw;
  }
}

.portfolio-link {
  margin-left: 2rem;
  scale: 0.75;
  transition: 0.3s;
}

.portfolio-link:hover {
  color: rgb(108, 105, 106) !important;
  transform: translate(0, -10px);
}

.section-four {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 10rem;
}
@media only screen and (max-width: 48.25em) {
  .section-four {
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
