@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up {
  animation: 1.25s both fadeInUp;
}

.fade-in {
  animation: fadeIn 5s;
}

.fade-in-fast {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}
@media only screen and (max-width: 48.25em) {
  body {
    padding: 0;
  }
}

html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at bottom, #1B2735 45%, #090A0F 100%);
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 125.5em) {
  html {
    font-size: 70%;
  }
}

p {
  letter-spacing: 0.15rem;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 3.5rem;
}
@media only screen and (max-width: 48.25em) {
  p {
    font-size: 1.5rem;
    line-height: 3.2rem;
  }
}
@media only screen and (min-width: 125.5em) {
  p {
    font-size: 20px;
    line-height: 4rem;
  }
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  letter-spacing: 0.5rem;
  font-size: 3rem;
}

h2 {
  letter-spacing: 0.3rem;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.bg {
  background-image: url(../../images/floral.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-spacing {
  letter-spacing: 0.75rem;
}

.row {
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 48.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 48.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 48.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 16rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 0rem) / 3);
  margin: 0 auto;
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 0rem) / 4) + 0rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 0rem) / 4) + 2 * 0rem);
}

.chevron-container {
  position: relative;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

.chevron-icon {
  scale: 3;
  width: 10px;
  height: 20px;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  z-index: 1000000000000000;
}

.contact-form-container {
  width: 100%;
}

.contact-section {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.form-input {
  width: 95%;
  padding: 2rem 0rem 2rem 2rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.message-input {
  width: 95%;
  border-radius: 10px;
  padding: 2rem 0rem 2rem 2rem;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}

.submit-button {
  width: 95%;
  padding: 1rem 0rem 1rem 2rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: white;
  border: white solid 0.75px;
  border-radius: 25px;
}

.submit-button:hover {
  background-color: white;
  color: black;
  transition: 0.75s;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
@media only screen and (min-width: 48.25em) {
  .mobile-nav {
    display: none;
  }
}

.menuItem {
  display: block;
  margin: 4rem 4rem;
  font-size: 1.8rem;
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 120;
  top: 3rem;
  right: 3rem;
  background: transparent;
  cursor: pointer;
  border: none;
  padding-top: 2.25rem;
  padding-right: 2rem;
}

.closeIcon {
  display: none;
  color: rgb(118, 118, 118);
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  list-style: none;
  padding-top: 17rem;
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.menuIcon {
  color: rgb(255, 255, 255);
  scale: 1.2;
}

.mobile-title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.mobile-logo {
  width: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;
}
@media only screen and (max-width: 48.25em) {
  nav {
    display: none;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.45rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.icon {
  width: 50px;
}

.skip-link {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-600%);
}

.skip-link:focus {
  transform: translateY(0%);
}

.skip-link {
  /* Same as  before */
  transition: transform 0.3s;
}

.wrapper {
  margin-bottom: 3rem;
}

.bounce {
  font-size: 5rem;
  width: 100%;
  margin: 3rem auto;
  display: inline-flex;
  justify-content: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(33, 30, 30, 0.1803921569));
}

.bounce span {
  display: inline-flex;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  animation: bounce 2s;
  margin-right: 0.5rem;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.7s;
}

.ten span:nth-of-type(2) {
  animation-delay: 0.8s;
}

.ten span:nth-of-type(3) {
  animation-delay: 0.9s;
}

.ten span:nth-of-type(4) {
  animation-delay: 1s;
}

.toolkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolkit-title {
  margin-bottom: 10rem !important;
  display: flex;
  justify-content: center;
}

.tool-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.tool-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  border: solid rgb(145, 145, 145) 1px;
  height: 60px;
  width: 175px;
}
@media only screen and (min-width: 125.5em) {
  .tool-card {
    width: 250px;
    height: 80px;
  }
}

.tool-icon {
  scale: 2;
  margin-right: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
  width: 60vw;
  margin: 0 auto;
}
@media only screen and (max-width: 48.25em) {
  .footer {
    padding: 6rem;
  }
}

.footer-name {
  display: flex;
  align-items: center;
}

.footer-title {
  margin-left: 2rem;
}
@media only screen and (max-width: 48.25em) {
  .footer-title {
    font-size: 1.5rem !important;
  }
}

.footer-logo {
  width: 35px;
}
@media only screen and (max-width: 48.25em) {
  .footer-logo {
    width: 25px;
  }
}

.header {
  margin: 0 auto -3rem auto;
  width: 60vw;
}
@media only screen and (max-width: 48.25em) {
  .header {
    width: 100vw;
  }
}
@media only screen and (min-width: 125.5em) {
  .header {
    width: 60vw;
  }
}

.logo {
  width: 45px;
}

.section-one {
  margin: 0 auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  padding: 10rem 0rem 0rem 0rem;
}
@media only screen and (max-width: 48.25em) {
  .section-one {
    width: 80vw;
    padding: 0rem 0rem;
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 125.5em) {
  .section-one {
    width: 60vw;
    padding: 10rem 0rem;
  }
}

.title {
  padding-bottom: 4rem;
}

.title-container {
  justify-content: flex-start !important;
  align-items: center;
}
@media only screen and (max-width: 48.25em) {
  .title-container {
    margin-bottom: 4rem !important;
  }
}

.learn-more {
  display: flex;
  align-items: center;
}

.learn-more-icon {
  margin-left: 2rem;
}

.social {
  display: flex;
  align-items: center;
}

.social-icon {
  scale: 1.5;
  margin-left: 3rem;
}

.profile-pic {
  width: 100%;
  height: auto;
}

.pic-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
@media only screen and (max-width: 48.25em) {
  .pic-container {
    width: 80vw;
    height: 300px;
    margin: 0rem auto 2rem auto;
    border-radius: 0%;
  }
}

.bio {
  margin: 0 auto;
  justify-content: center;
}
.bio-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 125.5em) {
  .bio-footer {
    width: 55vw;
  }
}

.section-two {
  width: 100vw;
  margin: 30rem auto 50rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 48.25em) {
  .section-two {
    width: 60vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-two {
    width: 95vw;
  }
}

.toolkit-title {
  -webkit-box-reflect: below -8px linear-gradient(transparent, rgba(33, 30, 30, 0.1803921569));
}

.section-three {
  width: 60vw;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 48.25em) {
  .section-three {
    width: 80vw;
    margin: 15rem auto;
  }
}
@media only screen and (min-width: 125.5em) {
  .section-three {
    width: 60vw;
  }
}

.portfolio-title-container {
  margin-bottom: 10rem;
}

.project-image {
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.image-text {
  display: none;
  font-size: 2rem;
  line-height: 5rem;
}

.image-sub-text {
  display: none;
  font-size: 1rem;
}

.image-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}
.image-container:hover .project-image {
  transform: scale(1.5);
  overflow: hidden;
  filter: blur(3px) brightness(30%);
}
.image-container:hover .image-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container:hover .image-sub-text {
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  margin-bottom: 1rem !important;
}

.portfolio-link {
  margin-left: 2rem;
  scale: 0.75;
  transition: 0.3s;
}

.portfolio-link2 {
  transition: 0.3s;
}

.portfolio-link:hover {
  color: rgb(108, 105, 106) !important;
  transform: translate(0, -10px);
  cursor: pointer;
}

.portfolio-link2:hover {
  color: rgb(108, 105, 106) !important;
  transform: translate(0, -10px);
  cursor: pointer;
}

.section-four {
  width: 60vw;
  margin: 15rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 48.25em) {
  .section-four {
    width: 80vw;
  }
}
@media only screen and (min-width: 125.5em) {
  .section-four {
    width: 60vw !important;
  }
}

.contact-title {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
