@keyframes fadeInUp {
    from {
    transform: translateY(50px);
    opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
.fade-in-up {
    animation: 1.25s both fadeInUp;
}

.fade-in { animation: fadeIn 5s; }

.fade-in-fast { animation: fadeIn 3s; }


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }