.chevron-container{
    position: relative;
    left: 50%;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor:pointer;
    text-align: center;
}





.chevron-icon {
    scale: 3;
    width: 10px;
    height: 20px;
    bottom: 0;
    left: 50%;
    cursor:pointer;
    z-index: 1000000000000000;
}


