

.mobile-nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 3rem;

    @include respond(tab-port-min) {
        display: none;
    }
}

.menuItem {
    display: block;
    margin: 3rem 4rem;
    font-size: 1.8rem;
    color: rgb(2, 2, 2);
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 120;
    top: 1rem;
    right: 3rem;
    padding: 4px;
    background: transparent;

    cursor: pointer;
    border: none;
    padding-top: 2.25rem;
    padding-right: 2rem;


  }
  
  .closeIcon {
    display: none;
    color: rgb(118, 118, 118);


  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    background: rgb(255, 255, 255);
  
    color: rgb(0, 0, 0);
    list-style: none;
    padding-top: 35rem;
    text-align: center;
  }
  
  .showMenu {
    transform: translateY(0);
  }

  .menuIcon{
    color: rgb(118, 118, 118);
    

  }
  



