.skip-link {
    background: #ffffff;
    color: #000000;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-600%);
  }
  
  .skip-link:focus {
    transform: translateY(0%);
  }

  .skip-link {
    /* Same as  before */
    transition: transform 0.3s;
  }