
.biopic-container{
    display: flex;
    justify-content: center;

}


.bio-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}





.biopic{
    background-image: url(../../images/bw2.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 30vw;

    @include respond(tab-port) {
        width: 95%;
        height: 45vh;
        margin-bottom: 3rem;
    }

    @include respond(big-desktop) {
        width: 30vw;
        height: 55vh;
    }



}

.bio{

    width: 100%;
    font-size: 1.5rem;
    line-height: 3.5rem;
    border-bottom: .5px solid black;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.quote{
    font-size: 1.5rem;
    line-height: 3.5rem;
}

.emphasize{
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    
}