.section-contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10rem !important;
}

.contact-form{
    display: flex;
    flex-direction: row;

    @include respond(tab-port) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}


.contact-form-name{
    display: flex;
    flex-direction: column;
}


.contact-form-subject{
    display: flex;
    flex-direction: column;
}

label{
    margin: 1rem;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

input[type=text]{
    margin: 1.5rem;
    outline: none;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 50px;
    border: .5px black solid;
    font-family: 'Baskervville', serif;


    @include respond(tab-port) {
        width: 40rem;
    }


}

input[type=email]{
    margin: 1.5rem;
    outline: none;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 50px;
    border: .5px black solid;


    font-family: 'Baskervville', serif;


    @include respond(tab-port) {
        width: 40rem;
    }


}

textarea{
    margin: 1.5rem;
    outline: none;
    font-family: 'Baskervville', serif;
    border-radius: 25px;
    border: .5px black solid;


    
}

textarea:focus{
    border: 2px solid #555;
    -webkit-transition: 0.1s;
    transition: 0.1s;

}

input[type=text]:focus {
    border: 2px solid #555;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    }

.message-input{
    width: 60rem;
    height: 20rem;
    padding: 3rem;

    @include respond(tab-port) {
        width: 40rem;
    }
}

.submit-button{
    width: 90%;
    color: black;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
    border: none;

        &:hover{
            background-color: white;
            border: solid .5px black;
            cursor: pointer;
        }

        @include respond(tab-port) { 
            padding: 2rem;
        }

}

