.header{
  position: relative;
  width: 90%;
  margin: 2rem auto;
}


nav{
    padding: 1.5rem;
    display: flex;
    justify-content:space-between;
    z-index: 3;
    border-bottom: solid 1px black;

    @include respond(tab-port) {
      display: none;
  }

    
}


.nav-list{
    display: flex;
    justify-content: center;
    z-index: 3;
    padding: .5rem;

    @include respond(tab-port) {
      display: none;
  }

}

.nav-item{
    list-style-type: none;
    margin-right: 2rem;
    z-index: 3;
    margin-left: 2rem;



}

.nav-link{
    align-items: center;
    z-index: 3;
    letter-spacing: .2rem;

    &:hover{
      color:rgb(159, 159, 159);
    }

}


.nav-border{
    margin-bottom: 3rem;
    size: 1px;
    color: black;

    @include respond(tab-port) {
      display: none;
  }

}

.icon{
  width: 2.25rem;
  margin-right: 1.75rem;
}

.title{
    z-index: inherit;
    width: 30rem;
}

.title-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;

}


.marquee{
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  z-index: 2;
  margin-bottom: 9rem;
}

.marquee-content{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
  z-index: 2;
}

.marquee-item{
    list-style-type: none;
    letter-spacing: .3rem;
}

@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}


.pink{
  background-color: pink;
  height: 40rem;
}

.blue{
  background-color: blue;
  height: 3rem;

}

.divider{
  width: 95%;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;



@include respond(tab-port) {
    margin-top: 10rem;
}

@include respond(tab-land-min) {
  margin-top: 20rem;
}

@include respond(big-desktop) {
  margin-top: 45rem;
}
}

.divider2{
  width: 90%;
  margin: 0 auto;
}

.divider3{
  width: 90%;
  margin: 2rem auto;
}

.landing-img{
  width: 100rem;
}

.header2{
  display: flex;
  justify-content: center;
}