

.portfolio-title{
    width: 20rem;
    margin-bottom: -8rem;
}

.portfolio-link:hover{
    filter: invert(.5) sepia(5) saturate(.5) ;

}

.portfolio-description{
    margin: 2rem auto;
    text-align: left;

    @include respond(tab-port) {
        width: 40rem;
    }
}


.portfolio-card-1{
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;

    @include respond(tab-port) {
        margin-bottom: -7rem;
    }



    
}

.portfolio-card-2{
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;

    @include respond(tab-port) {
        margin-bottom: -7rem;
    }

}

.portfolio-card-3{
    background-position: top;
    background-size:contain;
    background-repeat: no-repeat;
}