.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;

    @include respond(tab-port) { 
        padding: 6rem;
    }
}


.footer-name{
    display: flex;
    align-items: center;
}

.footer-title{
    margin-left: 2rem;

    @include respond(tab-port) { 
        font-size: 1.5rem !important;
    }
}


.footer-logo{
    width: 35px;

    @include respond(tab-port) { 
        width: 25px;
    }

}