.header{
    margin: 0 auto -3rem auto;
    width: 60vw;

    @include respond(tab-port) { 
        width: 100vw;
    }

    @include respond(big-desktop) {
        width: 60vw; 
    }

}

.logo{
    width: 45px;
}