.section-three{
    width: 60vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;



    @include respond(tab-port) { 
        width: 80vw;
    }



    @include respond(big-desktop) { 
        width: 50vw;
    }




}


.portfolio-title-container{
    margin-bottom: 10rem;
    -webkit-box-reflect: below -8px linear-gradient(transparent, #211e1e2e);

}


.project-image{
    width: 100%;
    border-radius: 15px;
    transition: all .5s;
}



.image-text{
    display: none;
    font-size: 3rem;
    line-height: 5rem;
}

.image-container{
    overflow: hidden;
    position: relative;


    &:hover .project-image{
        transform: scale(1.5);
        overflow: hidden;
        filter: blur(3px) brightness(30%);
    }

    &:hover .image-text{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

.project-title{
    margin-bottom: 1rem !important;

}



.portfolio-link{
    margin-left: 2rem;
    scale: .75;
    transition: 0.3s;


}

.portfolio-link:hover{
    color: rgb(108, 105, 106) !important;
    transform: translate(0, -10px);
    cursor: pointer;

}

