.section-one{
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    padding: 10rem 0rem 0rem 0rem;


    @include respond(tab-port) { 
        width: 80vw;
        padding: 0rem 0rem;
        margin-top: 5rem;

    }

    @include respond(big-desktop) { 
        width: 60vw;
        padding: 10rem 0rem;


        
    }
    
}

.title{
    padding-bottom: 4rem;
}

.title-container{
    justify-content: flex-start !important;
    align-items: center;


    @include respond(tab-port) { 
        margin-bottom: 4rem !important;
    }
}

.learn-more{
    display: flex;
    align-items: center;
}

.learn-more-icon{
    margin-left: 2rem;
}

.social{
    display: flex;
    align-items: center;
}

.social-icon{
    scale: 1.5;
    margin-left: 3rem;

}

.profile-pic{
    width: 100%;
    height: auto;
}

.pic-container{
    position: relative; 
    width: 200px; height: 200px; 
    overflow: hidden; 
    border-radius: 50%;

    @include respond(tab-port) { 
        width: 80vw;
        height: 300px;
        margin: 0rem auto 2rem auto;
        border-radius: 0%;


    }
}

.bio{
    margin: 0 auto;
    justify-content: center;

    @include respond(tab-port) { 

    }



}

.bio-footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) { 

    }

    @include respond(big-desktop) { 
        width: 55vw;
}}


