.section-four{
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    padding-top: 10rem;
    

    @include respond(tab-port) { 
        width: 100vw; 
    }

    @include respond(big-desktop) { 
        width: 55vw;
        

    }
    
}