.section-four{
    width: 60vw;
    margin: 15rem auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

    @include respond(tab-port) { 
        width: 80vw; 
    }

    @include respond(big-desktop) { 
        width: 60vw !important; 
    }


    
}

.contact-title{
    text-align: left;
}