.section-four{
    width: 70vw;
    margin: 30rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    @include respond(tab-port) { 
        width: 90vw; 
    }

    @include respond(big-desktop) { 
        width: 50vw !important; 
    }


    
}