.section-one{
    margin: 0 auto;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 0rem;


    @include respond(tab-port) { 
        width: 80vw;
        padding: 0rem 0rem;

    }

    @include respond(big-desktop) { 
        width: 55vw;
        padding: 15rem 0rem;


        
    }
    
}

.title{
    padding-bottom: 4rem;
}

.title-container{
    justify-content: flex-start !important;
    align-items: center;
    -webkit-box-reflect: below -8px linear-gradient(transparent, #211e1e2e);


    @include respond(tab-port) { 
        margin-bottom: 4rem !important;
    }
}

.learn-more{
    display: flex;
    align-items: center;
}

.learn-more-icon{
    margin-left: 2rem;
}

.social{
    display: flex;
    align-items: center;
}

.social-icon{
    scale: 1.5;
    margin-left: 3rem;

}

.bio{
    padding-bottom: 4rem;
}

.bio-footer{
    display: flex;
    justify-content: space-between;
    width: 65vw;

    @include respond(big-desktop) { 
        width: 55vw;
}}


