.section-two{
    width: 100vw;
    margin: 30rem auto 50rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @include respond(tab-port) {
        width: 60vw;

    }

    @include respond(phone) {
        width: 95vw;
    }


}

.toolkit-title{
    -webkit-box-reflect: below -8px linear-gradient(transparent, #211e1e2e);



}

